.trb_mainContent .year-chart{
	position: absolute;
	top:100px;
	right:25px;
	z-index:10000;
	width:100%;
	max-width:240px;

	&__label{
		@include label7();
	    max-width: 200px;
	    margin:0;
	}

	.map__year{
		@include label2();
		margin:0;
		padding:0;
		opacity:0;
	}

}

#year-chart{
	width:100%;
	height:240px;
}

.bar-label{
	@include sans-serif-text(12px, 1em, bold);
	fill: white;
}

.bar{
	opacity:1;
	transition: all $dot_transition;

		&.muted{
		opacity:.3;
		transition: all $dot_transition;

	}
}


@media all and (max-width:850px){
	.trb_mainContent .year-chart {
	    position: static;
	    max-width: none;
	    margin:15px 0;

	    .map__year{
			display:none;
		}
	}

}
@media all and (max-width:650px){
	#year-chart{
		height:140px;
	}
}

