$sidebar_width:$chart_width;


.trb_mainContent .map{
	@include trib-chart();
	@include clearfix();
	position:relative;

	&__sidebar{
		width:$sidebar_width;
		float:left;
	}

	&__label{
		@include label6();
		margin-bottom:10px;
	}

	&__container{
		display:none;
		width:auto;
		height:500px;
		background:#eee;
		margin-left:$sidebar_width + 25px; 
	
	.map__year{
		@include label2();
		margin:0;
		padding:25px;
		opacity:0;
		z-index: 1000000000;
		position: absolute;
		top: 0;
		right: 0;
		text-align:right;
		background: rgba(white,.5);
	}

	&.go-map{
		display:block;
	}
}
}


.map-legend{
	@include trib-legend();

	&__dot{
		@include trib-legend__box('circle');
		background:$dot-color;
	}
}

.project-marker{
	height:25px;
	width:25px;
}

.dot{
    height: 100%;
    width: 100%;
    display: block;
    border-radius:50%;
	background: rgba($dot-color, .7);
	opacity:1;
	transition: all $dot_transition;

	&.dot--hidden{
		transition: all $dot_transition;
		opacity:0;
	}
}

@media all and (max-width:700px){
.trb_mainContent {
	.map__sidebar{
	width:100%;
	max-width: 50%;
}
.map__container{
	margin-left: 52%;
	}
}

}

@media all and (max-width:650px){
	.trb_mainContent .map__container{
		height:350px;
	}
}

@media all and (max-width:600px){
	.trb_mainContent {
		.map__sidebar, .map__container{
			max-width:none;
			width:100%;
			float:none;
			margin-left:0;
		}}
}