
.trb_mainContent .map{
	@include trib-chart();
	@include clearfix();
	position:relative;

	&__label{
		@include label6();
		margin-bottom:10px;
	}

	&__container{
		display:none;
		width:auto;
		height:500px;
		background:#eee;
		margin-left:$chart_width + 25px; 
	
	.map__year{
		@include label2();
		margin:0;
		padding:25px;
		opacity:0;
		z-index: 1000000000;
		position: absolute;
		top: 0;
		right: 0;
		text-align:right;
		background: rgba(white,.5);
	}

	&.go-map{
		display:block;
	}
}
}

// #year{
// 	position:absolute;
// 	top:75px;
// 	right:0;
// 	margin: 25px 25px 0 0;
//     z-index: 100000;
// }

.project-marker{
	height:25px;
	width:25px;
}

.dot{
    height: 100%;
    width: 100%;
    display: block;
    border-radius:50%;
	background: rgba($trib-blue2, .7);
	opacity:1;
	transition: all $dot_transition;
	&--2016{
		background: rgba($trib-red2, .75);
	}

	&.dot--hidden{
		transition: all $dot_transition;
		opacity:0;
	}
}

@media all and (max-width:650px){
	.trb_mainContent .map__container{
		height:350px;
	}
}