
.trb_mainContent .map{
	@include trib-chart();
	@include clearfix();
	position:relative;

	&__label{
		@include label6();
		margin-bottom:10px;
	}

	&__container{
		display:none;
		width:auto;
		height:500px;
		background:#eee;
		margin-left:$chart_width + 25px; 
	
	.map__year{
		@include label2();
		margin:0;
		padding:25px;
		opacity:0;
		z-index: 1000000000;
		position: absolute;
		top: 0;
		right: 0;
		text-align:right;
		background: rgba(white,.5);
	}

	&.go-map{
		display:block;
	}
}
}


.map-legend{
	@include trib-legend();

	&__dot{
		@include trib-legend__box('circle');
		background:$dot-color;
	}
}

.project-marker{
	height:25px;
	width:25px;
}

.dot{
    height: 100%;
    width: 100%;
    display: block;
    border-radius:50%;
	background: rgba($dot-color, .7);
	opacity:1;
	transition: all $dot_transition;

	&.dot--hidden{
		transition: all $dot_transition;
		opacity:0;
	}
}

@media all and (max-width:650px){
	.trb_mainContent .map__container{
		height:350px;
	}
}