
{% block content %}
<section class='intro'>
	{{ intro|markdown }}
</section>

<section class='graphic'>
	<div class='map'>
		<div class="map__sidebar">
			<p class='map__label'>{{ map_label }}</p>
			<dl class='map-legend'>
				<dt>
					<span class='map-legend__dot'></span>
				</dt>
				<dd>{{ map_legend }}</dd>
			</dl>
			<a id='play'>{{ play_button_label }}</a>
			<div class='year-chart'>
				<div id='year-chart'></div>
			</div>
		</div>
		<div class='map__container'>
			<p class='map__year'>Year</p>
		</div>
	</div>
	{% include '_project-list.html' %}
</section>
<section class='notes'>
	{% if notes %}
	<p>{{ notes }}</p>
	{% endif %}
	{% if sources %}
	<p>{{ sources|markdown }}</p>
	{% endif %}
	{% if credit %}
	<p>{{ credit|markdown }}</p>
	{% endif %}
</section>


{% endblock content %}

{% block library_scripts %}
{# Uncomment this if you are using libraries such as jQuery #}
<script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
{% endblock %}

{% block scripts %}
{# Uncomment this if you are using custom JavaScript #}
<script src="//{{ ROOT_URL }}/js/app.min.js"></script>
<script>

	window.yearChartData = [
	{%- for year in cranes_by_year -%}
	{ year:{{ year.year }}, addresses:{{ year.address_count }} }{% if not loop.last %},{% endif %}
	{%- endfor -%}
	];

	(function(document) {
		var CSS = [
		"//{{ ROOT_URL }}/css/vendor.min.css",
		"//{{ ROOT_URL }}/css/styles.css"
		];
		CSS.forEach(function(url) {
			var link = document.createElement('link');
			link.setAttribute('rel', 'stylesheet');
			link.setAttribute('href', url);
			document.head.appendChild(link);
		});
	})(document);
</script>
{% endblock scripts %}
